.ProfileBigContainer {
    background-color: #0D1117;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    gap: 3em;
    z-index: -3px;
}
.lyro {
  font-family: "Roboto Condensed", sans-serif;
}

.ProfileTinyContainer {
    width: 75vw;
    height: 75vh;
    background-color: #161c27;
    display: flex;
    border-radius: 25px;
    z-index: 1;
}

.PfP {
    border-radius: 50%;
    width: 225px;
    height: 225px;
}

.PfN {
    font-size: 36px;
}

.Blogs {
    display: grid;
    grid-template-columns: 300px 300px 300px; 
    grid-template-rows: 150px 150px 150px 150px;
    gap: 6px;
    padding: 6px;
    margin-left: 150px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.089);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* padding: 2em; */
}

.BlogImg {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

/* .BlogImg:hover{
    width: 310px;
    height: 155px;
} */
.logoCon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ProfileLogo {
    width: 60px;
    height: 60px;
    /* position: absolute;
    left: 25px;
    top: 25px;     */
}

.EditPro {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 25px;
    border-width: 0;
    margin-bottom: 5px;
    color: white;
    transition: width 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.textBefore {
    display: none;
}
.pencilIcon {
    width: 18px;
}
.EditPro:hover .pencilIcon {
    display: none;
}
.EditPro:hover .textBefore {
    display: flex;
}
.EditPro:hover {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 10px;
}

.ProfileHeader{
    padding: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-image: url("../../images/headerPic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-width: 2px;
    border-bottom-color: rgb(145, 148, 150);
    border-bottom-style: solid;
}

.mdkue{
    margin-left: 50px;
    margin-top: 50px;
}
