#Container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/headerPic.jpg");
  background-position: center;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.CenterBox {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.089);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 2em;
}
.Inputs {
  gap: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#outlined-basic {
  width: 20em;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;
}
#outlined-basic:hover {
  background-color: rgba(255, 255, 255, 0.089);
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 20vh;
}
#Logo2 {
  width: 60px;
}
#pageLogoText2 {
  height: 60px;
  display: flex;
  color: #fff;
  font-size: 50px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 8px;
  align-items: center;
}
.LOGIN {
  letter-spacing: 5px;
  font-family: "Roboto Condensed", sans-serif;
}
