.signupContainer {
  width: 100vw;
  height: 100vh;
  background-position: center;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/headerPic.jpg");
}

.centerBox {
  width: 25vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(25px);
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
}

.input {
  width: 350px;
  height: 35px;
  border-width: 0;
  padding-left: 15px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.265);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  transition: 200ms;
}

.input::placeholder {
  color: grey;
}

input:hover {
  background: rgba(255, 255, 255, 0.68);
}

#signup {
  width: 350px;
  height: 35px;
  border-width: 0;
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  transition: 200ms;
}

#signup:hover {
  background: rgba(255, 255, 255, 0.68);
}

#Logo {
  width: 60px;
  height: 60px;
}

.logoContainer {
  display: flex;
}

#pageLogoText {
  height: 60px;
  color: #fff;
  font-size: 50px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 8px;
  margin-left: 15px;
}
